dialog {
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50%);
    width: 600px;
    padding: 10px;
    border-radius: 10px;
    background: var(--dialog-bg);
    border: var(--dialog-border);
    animation: openPopup 0.25s ease;
    max-height: 600px;
    overflow-y: auto;
    color: var(--dialog-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    transition: all 0.25s ease;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
}

dialog.closing {
    animation: closePopup 0.25s ease;
}

@keyframes openPopup {
    0% {
        transform: scale(0.1) translateY(-50%);
    }
    20% {
        transform: scale(0.2) translateY(-50%);
    }
    30% {
        transform: scale(0.3) translateY(-50%);
    }
    40% {
        transform: scale(0.4) translateY(-50%);
    }
    50% {
        transform: scale(0.5) translateY(-50%);
    }
    100% {
        transform: scale(1) translateY(-50%);
    }
}

@keyframes closePopup {
    0% {
        transform: scale(1) translateY(-50%);
    }
    20% {
        transform: scale(0.5) translateY(-50%);
    }
    30% {
        transform: scale(0.4) translateY(-50%);
    }
    40% {
        transform: scale(0.3) translateY(-50%);
    }
    50% {
        transform: scale(0.2) translateY(-50%);
    }
    100% {
        transform: scale(0.1) translateY(-50%);
    }
}