input[type="text"] {
    background-color: var(--input-background);
    color: var(--input-color);
    border: 2px solid var(--input-border);
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    width: 96%;
    margin-top: 3px;
    transition: all 0.3s ease;
}

input[type="text"]::placeholder {
    color: var(--input-placeholder-color);
}

input[type="text"]:focus {
    border-color: var(--input-focus-border);
    box-shadow: 0 0 8px rgba(255, 0, 0, 0.8);
    outline: none;
}

input[type="text"]:hover {
    border-color: var(--input-hover-border);
}