a {
    color: var(--a-color);
    text-decoration: none;
    position: relative;
    font-weight: 500;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

a:hover {
    color: var(--a-hover-color);
    text-shadow: 0 0 10px rgba(200, 0, 0, 0.6), 0 0 20px rgba(200, 0, 0, 0.4);
}

a::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 2px;
    background: var(--a-underline-color);
    transform: translateY(-50%, -50%);
    transition: width 0.3s ease;
}

a:hover::after {
    width: 100%;
}