#launcherStarting {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}